.bg-mountain {
    background-image: url(/imgs/mountain.jpg);
    background-size: cover;
    background-position: center;
}

.form-check-input:checked ~ .textList > span {
text-decoration: line-through;
}

