<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="app">
      <!-- Titolo e bg -->
      <div class="container bg-mountain">
        <div class="row p-5">
          <div class="col text-center">
            <h1 class="display-1 text-white">To Do List!</h1>
          </div>
        </div>
      </div>
      <!-- TodoList -->
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="card">
            <div class="row align-items-center">
              <div class="col-9">
                <!-- Text-box -->
                <input
                  type="text"
                  class="form-control form-control-lg mt-3"
                  placeholder="Cosa ti vuoi ricordare?"
                  v-model="newTodoItem.text"
                  @keyup.enter="addTodoItem"
                />
              </div>
              <!-- + Add Todo Button -->
              <div class="col-3 text-center">
                <button
                  type="button"
                  class="btn btn-success mt-3"
                  @click="addTodoItem"
                >
                  <i class="fa-solid fa-plus" style="color: #ffffff"></i>
                </button>
              </div>
            </div>

            <!-- Card ListItem -->

            <div
              class="p-3 mt-4 mb-3 d-flex gap-3 justify-content-between align-items-center border rounded"
              v-for="todoItem in todoList"
            >
              <div class="todo d-flex gap-3">
                <!-- Checkbox -->
                <input
                  class="form-check-input p-2"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  v-model="todoItem.done"
                  @click="toggleCheckbox(todoItem.id)"
                />
                <div class="textList">
                  <span>{{todoItem.text}}</span>
                </div>
              </div>
              <!-- Trash Button -->
              <div class="trash-button d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-danger"
                  @click="deleteTodoItem(todoItem.id)"
                >
                  <i class="fa-solid fa-trash" style="color: #ffffff"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>
